.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px 27px;
  margin-top: 120px;
  padding: 10px;
}

.card {
  background: #fff;
  border-radius: 8px;
  border: 2px solid grey;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

.card h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #4a4a4a; /* tom marrom escuro do design */
  margin-bottom: 6px;
  text-align: center;
}

.card p {
  font-family: "Montserrat", sans-serif;
  font-weight: semi-bold;
  font-size: 14px;
  color: #555555;
  margin: 2px 0;
  text-align: center;
  line-height: 1.3;
}

.card p strong {
  font-weight: 700;
  color: #333333;
}

.card button {
  margin-top: 20px;
  background: transparent;
  border: 2px dashed #2e2e2e; /* rosa da linha */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #2e2e2e;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.card button:hover {
  background-color: grey;
  color: #fff;
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  font-family: Ionicons;
  content: "\f3d0";
  color: #5f5f5f;
  font-size: 16px;
}

option::checkmark {
  content: none;
}

#checkinField,
#checkoutField,
.select-hospedagem {
  width: 100% !important;
  height: 62.5px !important;
  background: #fff;
  margin: 0;
  border: 0;
  color: #111111;
  padding: 20px 15px 20px 20px;
  cursor: pointer;
  border-radius: 0;
}

.select-hospedagem option {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #fff;
  color: #5f5f5f;
  font-size: 13px;
  text-align: center;
  border: solid #ececec;
  border-width: 1px 1px 0px 1px;
}

.select-hospedagem option:hover {
  background: #5f5f5f;
  color: white;
}

option:checked {
  background: #ddd;
  color: #5f5f5f;
}
